@charset "utf-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: bebas;
    src: url(fontes/BebasNeue-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#EBE5C5 ;

    max-width: 800px;
    min-width: 320px;
    margin: auto;
}


article{

    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}
main strong{
    background-color: #83E1AD;
}


header{
    color: #ffffff;
    background-image: linear-gradient(180deg,#2DA362,#063D1E);
    text-align: center;
    font-family: bebas;
    font-weight: lighter;
    min-height: 90px;
    font-size: 20px;
    padding: 20px;        
}

header > h1{
    margin-top: 15px;
    margin-bottom:10px;
    text-shadow: 1px 1px 1px black;
    font-weight: normal;
}
nav{
    background-color: #063D1E;
    color: white;
    padding: 10px 0px 10px 0px;
}

nav> a{
    color: white;
    text-decoration: none;
    transition-duration: .5s;
}

nav >a:hover{
    background-color: rgb(240, 0, 0);
    padding: 5px;
    border-radius: 10px;
}

img{
    width: 100%;

}

img.fig{
    display: block;
    margin: auto;
    max-width: 350px;
}

div#video{
    background-color:aliceblue ;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div#video > iframe{
    position: absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3.android{
    display: block;
    color: #2a6644;
    font-size: 20px;
    text-shadow: 2px 2px  2px rgba(0, 0, 0, 0.233);
    font-family: android;
    background-image: linear-gradient(90deg,#83E1AD,#ffffff);
}


main{
    text-indent: 30px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgb(73, 71, 71);
}

aside{
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #3ada7f;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    padding-left: 0px;
    padding-top: 5px;
    margin: -10px -10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color:white;
    background-color: #023a1b ;
}

aside > P{
    padding: 10px;
}



footer{
    color:gray;
    text-align: center;
}

a.external::after{
content:'\00a0\1f517'
}
